# Proceso de ETL

## 1.- Importacion de Librerias

In [57]:
# Importar Librerias
import pandas as pd

## 2.- Lectura de csv

In [58]:
# Lectuar de todos los csv's
df_03_Local = pd.read_csv('Tasas de Interes/01_03_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_04_Local = pd.read_csv('Tasas de Interes/03_04_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_05_Local = pd.read_csv('Tasas de Interes/01_05_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_06_Local = pd.read_csv('Tasas de Interes/01_06_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_07_Local = pd.read_csv('Tasas de Interes/03_07_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_08_Local = pd.read_csv('Tasas de Interes/01_08_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_09_Local = pd.read_csv('Tasas de Interes/01_09_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
df_10_Local = pd.read_csv('Tasas de Interes/02_10_2023_MonedaLocal.csv', encoding = 'latin-1', sep=";")
listaBancos = pd.read_csv('Tasas de Interes\ListaBancos.csv',encoding='utf-8',sep=";")

## 3.- Union de cv's

In [59]:
# Unions de los csv, sin tomar en cuenta las cabeceras de los siguientes archivos
dfGeneralBancos = pd.concat([df_03_Local,
                     df_04_Local,
                     df_05_Local,
                     df_06_Local,
                     df_07_Local,
                     df_08_Local,
                     df_09_Local,
                     df_10_Local], ignore_index=True)

In [60]:
# Vista general del dataframe Unido
dfGeneralBancos

,Tasa Anual (%),BBVA,Comercio,Crédito,Pichincha,BIF,Scotiabank,Citibank,Interbank,Mibanco,...,Santander,Ripley,Alfin,ICBC,Bank of China,Bank of China.1,BCI,Fecha,Tipo de Empresa,Unnamed: 21
0,Descuentos,10.91,-,10.07,12.80,8.06,10.07,-,10.26,-,...,13.22,-,-,9.22,-,-,-,01/03/2023,Corporativos,NaN
1,Préstamos hasta 30 días,9.02,-,9.40,-,9.69,8.73,-,9.03,-,...,14.02,-,-,-,s.i.,s.i.,-,01/03/2023,Corporativos,NaN
2,Préstamos de 31 a 90 días,9.60,-,9.90,9.92,10.27,9.45,-,10.37,-,...,10.63,-,-,10.40,-,-,-,01/03/2023,Corporativos,NaN
3,Préstamos de 91 a 180 días,9.86,-,9.25,11.18,10.91,10.05,-,10.16,-,...,13.89,-,-,11.25,s.i.,s.i.,12.50,01/03/2023,Corporativos,NaN
4,Préstamos de 181 a 360 días,10.07,-,9.00,13.00,10.75,-,-,-,-,...,-,-,-,-,-,-,-,01/03/2023,Corporativos,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Préstamos no Revolventes para automóviles,13.61,-,13.42,-,14.12,11.04,-,-,-,...,-,-,-,-,s.i.,s.i.,-,02/10/2023,Consumo,NaN
323,Préstamos no Revolventes para libre disp...,19.25,31.83,78.81,23.04,9.58,24.49,-,37.19,71.45,...,-,-,-,-,-,-,-,02/10/2023,Consumo,NaN
324,Préstamos no Revolventes para libre disp...,19.03,15.36,21.12,20.64,17.11,18.68,-,21.26,46.48,...,-,32.80,63.37,-,s.i.,s.i.,-,02/10/2023,Consumo,NaN
325,Créditos pignoraticios,-,49.57,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,02/10/2023,Consumo,NaN
326,Préstamos hipotecarios para vivienda,8.65,10.78,9.19,10.22,9.68,9.03,-,9.08,17.08,...,-,-,-,-,-,-,-,02/10/2023,Hipotecarios,NaN

## 4.- Transformaciones

### 4.1 Transformaciones a columnas

In [61]:
# Seleccionar las columnas sin conversion a float y luego convetir las que si necesitan
columnasEstaticas = ['Tasa Anual (%)', 'Fecha','Tipo de Empresa']
for columnas in dfGeneralBancos.columns:
    if columnas not in columnasEstaticas:
        dfGeneralBancos[columnas] =pd.to_numeric(dfGeneralBancos[columnas],errors = 'coerce')

# Convertir las fechas a formato fecha %d/%m/%Y
dfGeneralBancos['Fecha'] = pd.to_datetime(dfGeneralBancos['Fecha'], format='%d/%m/%Y')['Fecha'] = pd.to_datetime(dfGeneralBancos['Fecha'], format='%d/%m/%Y')

# Eliminar columnas que no siven
dfGeneralBancos = dfGeneralBancos.drop(['Unnamed: 21'],axis= 1)

### 4.2 Filtros de los datos a usar, tipo de empresa y plazo de prestamo

In [62]:
# Seleccion valor por tipo de empresa 
tipoDeEmpresa = 'Medianas Empresas'
dfGeneralBancos = dfGeneralBancos[dfGeneralBancos['Tipo de Empresa'] ==tipoDeEmpresa ]
# Filtros a usar por tipo de prestamo
# Se elimino los espacios en blanco porque no se encontraban los datos buscados
dfGeneralBancos['Tasa Anual (%)'] = dfGeneralBancos['Tasa Anual (%)'].str.replace(r'\s', '', regex=True)
tipoDePrestamo = 'Préstamosamásde360días'
dfGeneralBancos= dfGeneralBancos[dfGeneralBancos['Tasa Anual (%)'] == tipoDePrestamo]
dfGeneralBancos

,Tasa Anual (%),BBVA,Comercio,Crédito,Pichincha,BIF,Scotiabank,Citibank,Interbank,Mibanco,...,Falabella,Santander,Ripley,Alfin,ICBC,Bank of China,Bank of China.1,BCI,Fecha,Tipo de Empresa
17,Préstamosamásde360días,16.77,NaN,17.31,8.50,11.08,13.78,NaN,20.59,17.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-01,Medianas Empresas
56,Préstamosamásde360días,16.21,13.05,17.02,8.50,11.14,14.21,NaN,20.95,17.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-03,Medianas Empresas
95,Préstamosamásde360días,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-01,Medianas Empresas
134,Préstamosamásde360días,15.70,14.00,16.53,NaN,12.13,14.50,NaN,21.84,17.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-01,Medianas Empresas
176,Préstamosamásde360días,16.23,NaN,16.62,9.24,12.22,14.59,NaN,22.16,17.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03,Medianas Empresas
218,Préstamosamásde360días,16.37,14.00,16.77,11.14,11.59,14.39,9.99,20.20,19.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,Medianas Empresas
266,Préstamosamásde360días,15.96,14.00,16.03,12.08,11.38,13.91,NaN,12.64,19.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-01,Medianas Empresas
305,Préstamosamásde360días,15.83,NaN,16.10,12.90,11.48,14.18,NaN,12.40,17.98,...,NaN,11.15,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-02,Medianas Empresas

### 4.3 Hallar los promedios mensuales y convertirlos a data frame

In [63]:
# Sacar promedios solo a las columnas que tienen como data Floats (solo las tasas)
promedio_por_columna = dfGeneralBancos.select_dtypes(include=['float']).mean(skipna=True)
# Convertir la lista de promedios a dataframe 
df_promedios = pd.DataFrame({'Promedio de bancos a 360 dias': promedio_por_columna})
# Ordenarlos de menor a mayor
df_promedios = df_promedios.sort_values(by = 'Promedio de bancos a 360 dias',ascending= True)

In [64]:
df_promedios

                 Promedio de bancos a 360 dias
Citibank                              9.990000
Pichincha                            10.393333
Santander                            11.150000
BIF                                  11.574286
Comercio                             13.762500
Scotiabank                           14.222857
BBVA                                 16.152857
Crédito                              16.625714
Mibanco                              18.161429
Interbank                            18.682857
GNB                                        NaN
Falabella                                  NaN
Ripley                                     NaN
Alfin                                      NaN
ICBC                                       NaN
Bank of China                              NaN
Bank of China.1                            NaN
BCI                                        NaN

### 4.4 Hallar la tasas de los bancos de las fechas mas proximas

In [65]:
# Hallar la fecha mas reciente
fechaReciente = dfGeneralBancos['Fecha'].max()
# Filtro de fecha mas proxima
dfUltimaFecha = dfGeneralBancos[dfGeneralBancos['Fecha']== fechaReciente]
# Eliminar las columnas que no interesan
columnasElim = ['Tasa Anual (%)','Fecha','Tipo de Empresa']
dfUltimaFecha = dfUltimaFecha.drop(columnasElim, axis = 1)
# Invertir las columnas para obtener los bancos en filas 
dfUltimaFecha =dfUltimaFecha.transpose()
# Convetir la fecha a str para concatenarla al nombre del cabecera 
fechaRecienteStr = fechaReciente.strftime('%d/%m/%Y')
dfUltimaFecha = dfUltimaFecha.rename(columns= {305:"Tasa a 360 dias "+ fechaRecienteStr })

In [66]:
dfUltimaFecha

                 Tasa a 360 dias 02/10/2023
BBVA                                  15.83
Comercio                                NaN
Crédito                               16.10
Pichincha                             12.90
BIF                                   11.48
Scotiabank                            14.18
Citibank                                NaN
Interbank                             12.40
Mibanco                               17.98
GNB                                     NaN
Falabella                               NaN
Santander                             11.15
Ripley                                  NaN
Alfin                                   NaN
ICBC                                    NaN
Bank of China                           NaN
Bank of China.1                         NaN
BCI                                     NaN

### 4.5 Insetar indices de las tablas como columnas

In [67]:
df_promedios.reset_index(level=0,inplace=True)
dfUltimaFecha.reset_index(level=0,inplace=True)

### 4.6 Unir las columnas promedios de fechas y tasas mas recientes

In [68]:
dfAnalizado = pd.merge(dfUltimaFecha, df_promedios, on="index")
# Renombrar
dfAnalizado.columns = dfAnalizado.columns.str.replace("index", "Bancos para Empresa Mediana")
dfAnalizado

,Bancos para Empresa Mediana,Tasa a 360 dias 02/10/2023,Promedio de bancos a 360 dias
0,BBVA,15.83,16.152857
1,Comercio,NaN,13.762500
2,Crédito,16.10,16.625714
3,Pichincha,12.90,10.393333
4,BIF,11.48,11.574286
5,Scotiabank,14.18,14.222857
6,Citibank,NaN,9.990000
7,Interbank,12.40,18.682857
8,Mibanco,17.98,18.161429
9,GNB,NaN,NaN
10,Falabella,NaN,NaN
11,Santander,11.15,11.150000
12,Ripley,NaN,NaN
13,Alfin,NaN,NaN
14,ICBC,NaN,NaN
15,Bank of China,NaN,NaN
16,Bank of China.1,NaN,NaN
17,BCI,NaN,NaN

### 4.7.- Traer los datos que al menos tengan un no nulo, o la ultima fecha o el promedio

In [73]:
num_nulos_por_fila = dfAnalizado.isnull().sum(axis=1)
# Elimina las filas que contienen más de un nulo
df_filtradoAnalizado = dfAnalizado[num_nulos_por_fila <= 1]
df_filtradoAnalizado =df_filtradoAnalizado.sort_values(by = 'Tasa a 360 dias 02/10/2023',ascending= True)
df_filtradoAnalizado

,Bancos para Empresa Mediana,Tasa a 360 dias 02/10/2023,Promedio de bancos a 360 dias
11,Santander,11.15,11.150000
4,BIF,11.48,11.574286
7,Interbank,12.40,18.682857
3,Pichincha,12.90,10.393333
5,Scotiabank,14.18,14.222857
0,BBVA,15.83,16.152857
2,Crédito,16.10,16.625714
8,Mibanco,17.98,18.161429
1,Comercio,NaN,13.762500
6,Citibank,NaN,9.990000

### 4.8.- Exportar datos para jefe inmediato

In [74]:
df_filtradoAnalizado.to_csv('df_filtradoAnalizado.csv', index=False)